@page "/hotel/rooms"
@inject ILocalStorageService localStorage
@inject IJSRuntime jsRuntime
@inject IHotelRoomService hotelRoomService

<h3>HotelRooms</h3>

@code {
    private HomeViewModel HomeModel { get; set; } = new HomeViewModel();
    public IEnumerable<HotelRoomDto> Rooms { get; set; } = new List<HotelRoomDto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (await localStorage.GetItemAsync<HomeViewModel>(SD.Local_InitialBooking) != null)
            {
                HomeModel = await localStorage.GetItemAsync<HomeViewModel>(SD.Local_InitialBooking);
            }
            else
            {
                HomeModel.NumberOfNights = 1;
            }
            await LoadRooms();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await jsRuntime.ToastrError(ex.Message);
            
        }
    }
    //protected override async Task StateHasChanged()
    //{
    //    Exception ex;
    //    await jsRuntime.ToastrError(ex.Message);
    //}
    private async Task LoadRooms()
    {
        Rooms = await hotelRoomService.GetHotelRooms(HomeModel.StartDate.ToString("dd/MM/yyyy"), HomeModel.EndDate.ToString("dd/MM/yyyy"));
    }

}
